{% extends 'fitness/base.html' %}

{% block title %}Регистрация — Фитнес Клуб{% endblock %}

{% block content %}
<div class="row justify-content-center my-5">
    <div class="col-md-5">
        <div class="card shadow-sm border-0 rounded-4 p-4">
            <h2 class="text-center fw-bold mb-4 text-dark">Регистрация</h2>
            
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger w-100 fw-bold py-2 mt-3 shadow-sm">Зарегистрироваться</button>
            </form>
            
            <div class="text-center mt-3">
                <p class="text-muted small">Уже есть аккаунт? <a href="{% url 'login' %}" class="text-danger fw-bold text-decoration-none">Войти</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}